.reviews {
  background-image: url('../img/paw-2.svg');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 35% auto;
  &-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  &-title {
    display: block;
    @include rub-b;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 40px;
  }
  &-list {
    max-width: 350px;
    width: 90%;
    &__name {
      display: none;
      @include lato-r;
      font-size: 14px;
      line-height: 17px;
      color: $text-grey;
    }
    &__item {
      background-image: url('../img/quot.svg');
      background-repeat: no-repeat;
      background-position: left 25px top 25px;
      background-size: 21px auto;
      display: block;
      margin: 15px;
      padding: 25px;
      padding-left: 55px;
      background-color: $white;
      @include lato-r;
      font-size: 15px;
      line-height: 140%;
      box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
      border-radius: 8px;
    }
  }
}
@media (min-width: 768px) {
  .reviews {
    background-position: right top -50px;
    background-size: 28% auto;
    &-list {
      min-width: 500px;
      max-height: 235px;
      &__text {
        display: block;
        margin-bottom: 25px;
        margin-top: 0;
      }
      &__item {
        width: 442px;
        min-height: 201px;
        margin: 10px;
      }
      &__name {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
@media (min-width: 1200px) {
  .reviews {
    background-position: right top -50px;
    background-size: 20% auto;
    &-list {
      max-width: 1000px;
      max-height: 240px;
      &__item {
        background-position: left 25px top 35px;
        min-width: 470px;
        min-height: 206px;
        margin: 15px;
        font-size: 16px;
        padding: 35px;
        padding-left: 55px;
      }
    }
  }
}
