.rooms {
  background-image: url('../img/fish-bg.svg');
  background-repeat: no-repeat;
  background-position: left top 75px;
  background-size: 40% auto;
  &-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-title {
    @include rub-b;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 40px;
  }
  &-list {
    max-width: 600px;
    width: 100%;
    &__item {
      display: block;
      margin: auto;
      padding-bottom: 25px;
    }
  }
}
.card {
  box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
  border-radius: 0px 0px 8px 8px;
  margin: 15px 15px;
  margin-top: 0;
  &__photo {
    display: block;
    margin-bottom: 25px;
  }
  &__subtitle {
    display: block;
    @include rub-m;
    font-size: 20px;
    line-height: 24px;
    margin-left: 25px;
    margin-bottom: 25px;
  }
  &__stats {
    @include lato-r;
    font-size: 15px;
    line-height: 18px;
    &-item {
      margin-left: 44px;
      margin-bottom: 17px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        left: -18px;
        top: 1px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: $bg-orange;
      }
    }
  }
  &__button {
    padding-left: 49px;
    margin: auto;
    &-text {
      @include lato-r;
      font-size: 16px;
      line-height: 19px;
    }
    &-icon {
      width: 36px;
      height: 36px;
    }
  }
}
@media (min-width: 768px) {
  .rooms {
    &-list {
      max-width: 800px;
      width: 100%;
    }
  }
  .card {
    position: relative;
    box-shadow: none;
    border-radius: 0;
    &__photo {
      width: 442px;
      height: 326px;
    }
    &-wrapper {
      width: 345px;
      height: 266px;
      background-color: $white;
      position: absolute;
      right: 0;
      top: 30px;
      box-shadow: 0px 0px 25px rgba(208, 208, 208, 0.25);
      border-radius: 8px;
      padding: 35px;
    }
    &__subtitle {
      margin-left: 0;
      margin-bottom: 20px;
    }
    &__stats {
      &-item {
        margin-left: 19px;
        margin-bottom: 15px;
      }
    }
    &__button {
      max-width: 206px;
      margin-left: 0;
      padding-left: 30px;
    }
  }
}
@media (min-width: 1200px) {
  .rooms {
    &-list {
      max-width: 1030px;
    }
  }
  .card {
    &__photo {
      width: 600px;
      height: 404px;
    }
    &-wrapper {
      width: 500px;
      height: 284px;
      top: 60px;
      padding: 40px 100px;
    }
    &__subtitle {
      margin-bottom: 30px;
    }
  }
}
