*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.container {
  width: 1170px;
  margin: auto;
  background-color: red;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
    background-color: yellow;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    width: 90%;
    background-color: green;
  }
}
