*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.container {
  width: 90%;
  max-width: 580px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    min-width: 760px;
  }
}

@media (min-width: 1200px) {
  .container {
    min-width: 1170px;
  }
}
