*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $text-color;
}
img {
  width: 100%;
  height: auto;
}
.section {
  padding: 35px 0;
}
.button {
  border-radius: 25px;
  background-color: $btn-color;
  width: 240px;
  height: 50px;
  border: none;
  color: $btn-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: lighten($btn-color, 10%);
    cursor: pointer;
  }
}
.link {
  &-text {
    &:hover {
      color: $bg-orange;
    }
  }
}
.close {
  cursor: pointer;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 20px;
  }
}

.container {
  width: 90%;
  max-width: 580px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    min-width: 700px;
  }
}

@media (min-width: 1200px) {
  .container {
    min-width: 1170px;
  }
}

.slick-dots li button:before {
  font-size: 12px;
}
.slick-dots li.slick-active button:before {
  color: $bg-orange;
}
.slick-prev {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  bottom: -15px;
  right: 45px;
  top: auto;
  left: auto;

  &:before {
    background-image: url('../img/arrow-left.png');
    background-position: center center;
    display: none;
  }
}
.slick-next {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  bottom: -15px;
  right: 0;
  top: auto;
  left: auto;

  &:before {
    background-image: url('../img/arrow-right.png');
    background-position: center center;
    display: none;
  }
}

@media (min-width: 1200px) {
  .slick-prev:before,
  .slick-next:before {
    display: block;
  }
  .slick-next,
  .slick-prev {
    box-shadow: 0px 2px 12px rgba(173, 152, 143, 0.25);
  }
}
